.definition-showing {
  font-style: italic;
  display: inline;
  color: red;
}
.definition-hidden {
  display: none;  
}

#javascript-showing {
  font-weight: bold;
}

.term-hidden {
  display: none;
}